@font-face {
    font-family: "Acrom";
    src: url('../fonts/Acrom-Regular.woff');
    font-weight: normal;
}
@font-face {
    font-family: "Acrom";
    src: url('../fonts/Acrom-Bold.woff');
    font-weight: bold;
}
@font-face {
    font-family: "Bebas";
    src: url('../fonts/BebasNeueRegular.woff');
    font-weight: normal;
}
@font-face {
    font-family: "Bebas";
    src: url('../fonts/BebasNeueBold.woff');
    font-weight: bold;
}
