@font-face {
    font-family: "Acrom";
    src: url('../fonts/Acrom.ttf');
    font-weight: normal;
}
@font-face {
    font-family: "Acrom";
    src: url('../fonts/AcromBold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: "Bebas";
    src: url('../fonts/BebasNeue.ttf');
    font-weight: normal;
}
@font-face {
    font-family: "Bebas";
    src: url('../fonts/BebasNeueBold.otf');
    font-weight: bold;
}
